:root {
  --primary-color: #f3f5fc;
  --secondary-color: #0a3871;
  --primary-text: #343a40;
  --secondary-text: #495057;
}
.header-height {
  height: auto;
}
.content-height {
  height: 95% !important;
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}
.gray-text {
  color: #67808e;
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.secondary-bg:active{
  opacity: 0.9;
}

.border-btn-primary {
  border: solid var(--primary-color);
}

.border-btn-secondary {
  background-color: transparent;
  border: 1px solid var(--secondary-color) !important;
}

.border-btn-secondary:hover{
  background-color: var(--secondary-color);
  color: white;
}

.border-btn-secondary:active{
  opacity: 0.9;
}

.text-message {
  border: 0;
  height: 25rem;
  outline: none;
  margin: 0 auto;
  width: 100% !important;
  padding: 1.2rem 0 0 1rem;
  box-shadow: none !important;
  font-size: 1.5rem !important;
  background-color: transparent;
}

.btn-reset {
  border: 0;
  outline: none;
  margin: 1rem 0;
  padding: 1rem 0;
  transition: all 0.2s ease-in;
}

.alertt{
  width: auto;
  right: -30%;
  bottom: 10%;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  text-align: center;
  animation: 3s ease slidein;
}

.alertt-danger{
  color: #740505;
  background-color: #da4d4d;
}

.alertt-success{
  color: #057426;
  background-color: #6dbd7e;
}

@keyframes slidein {
  from {
    right: -30%;
  }
  to {
    right: 1%;
  }
}

@media (max-width: 375px) {
  .text-message {
    height: 15rem;
  }
  .content-height {
    height: auto !important;
  }
}